$main-color : #444;
$font-color : #fff;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

// Set Text Color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    } @else {
      @return $font-color;
    }
  }


.wrapper {
    width: 300px;
    background: $main-color;
    color: $font-color;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border: 1.5px solid #222223;
    border-radius: 2.5px;
}

.header {
    padding: 5px;
    font-weight: bold;
    background: #cccc;

    p {
        display: inline;
        font-size: 25px;
    }

    span {
        float: right;
        font-size: 22px;
        margin-right: 7px;
    }

    span:hover {
        cursor: pointer;
        color: red;
    }
}
 

.spins {
    margin: 25px 0 25px 0;
}

.limit {
    margin: 25px 0 25px 0;
}


button {
    margin: 25px 0 25px 0;
    cursor: pointer;
    width: 115px;
    height: 40px;
    border-radius: 18px;
    border: 1.3px solid $font-color;
    color: $main-color;
    background: #ADFF2F;
    font-size: 20px;
    font-weight: bold;
    outline: none;

    &hover {
        border: 1.3px solid green;
    }
}

.autoplay-setting {
    display: none;
}

.form-control {
    margin-left: 15px;
    width: 50px;
    height: 40px;
    border-radius: 18px;
    outline: none;
    
}

#options {
    cursor: pointer;
}

#options > i {
    margin-top: 0;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 8px;
    margin-left: 13px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }